#------CURRENT DB------
DATABASE_NAME=your_db_name
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_pass
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

SECRET_KEY=your_django_secret_key

# Redis
CELERY_BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND=redis://localhost:6379

# Email
EMAIL_BACKEND=your_email_backend
EMAIL_HOST=your_email_host
EMAIL_PORT=your_email_port
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your_email_user
EMAIL_HOST_PASSWORD=your_email_pass

#-----STRIPE API-----
STRIPE_PUBLISHABLE_KEY=your_skey
STRIPE_SECRET_KEY=your_sk_test